.header-blue {

  background-size: cover;
  background-image: url("pexels-karolina-grabowska-5908723.jpg");
  font-family: "Source Sans Pro", sans-serif;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
h2{
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
}

@media (min-width: 768px) {
  .header-blue {
    padding-bottom: 120px;
  }
  #tasksList {
    padding-right: 220px;
  }
}

.task{
   color: #727475;
}
.date{
   color: #727475;
}
.imgfix{
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: 2px;
}

#date{
  font-size: 25px;
}

.p1{
  font-size: 25px;
  margin-right: 300px;
  color: black;
}

form{
  background-color: rgb(222, 209, 189);
}

.modal-title{
  margin-left:150px;
  font-size: 30px;
  font-style: italic;
  }

small{
  color: red;
}

footer{
 position:relative;
  height: 20px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 12px;
  color:black;
}